/*#############################################################
Name: Deep Red
Date: 2006-08-28
Description: A two-column layout with a touch of red.
Author: Viktor Persson
URL: http://templates.arcsin.se

Feel free to use and modify but please provide credits.
#############################################################*/

/* standard elements */
* {
	margin: 0;
	padding: 0;
}
body {
	/*ORIGINAL : background: #6C1400 url(../images/bgbody.gif) repeat-y center top;*/    
    /*MODIFICADO : background: #FFF url(../images/video_camera.jpg) no-repeat center top; */
    background-color: #FFF;
    background: url(/images/1.jpg);
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size: cover;
	font: normal 0.7em Tahoma,Verdana,sans-serif;
}
div a {
	color: #FFF;
	cursor: pointer;
	text-decoration: none;
}
h1 {
	color: #FFF;
	font: normal 2em sans-serif;
	margin: 18px 0 0 0;
}
code {
	background: url(../images/bgcode.gif);
	border: 1px solid #F0F0F0;
	border-left: 6px solid #D91623;
	color: #555;
	display: block;
	font: normal 1em "Lucida Sans Unicode",serif;
	margin-bottom: 12px;
	padding: 8px 10px;
	white-space: pre;
}
blockquote {
	background: url(../images/quote.gif) no-repeat;
	color: #555;
	display: block;
	font: bold 1.2em "Trebuchet MS",serif;
	margin: 6px 0;
	padding-left: 28px;
}

/* structure */
.main {
	width: 680px;
	margin: 0px auto;
    background: rgba(51,0,0,0.8);
}
.main_content {
	padding-top: 3px;
	width: 100%;
}
.main_left {
	position: absolute;
    margin-top:183px;
    margin-bottom:auto;
    margin-right:auto;
    margin-left: -58px;
    padding-left: 5px;
    padding-right: 8px;
    padding-top: 5px;
	width: 45px;
    background: rgba(255,255,255,0.6);
}
.main_right {
    position: fixed;
    margin-top:0px;
    margin-bottom:auto;
    margin-right:auto;
    margin-left:728px;
    padding-top:6px;
    padding-bottom:6px;
    padding-left:6px;
    padding-right:6px;
	width: 254px;
    background: rgba(102,0,0,0.8);
}

/* misc */
.left {
	float: left;
}
.right {
	float: right;
}
div.link_versions a.g1:hover {
    /*background: #D7162C url(../images/english.png);*/
}
div.link_versions a.g2:hover {
    /*background: #D7162C url(../images/spanish.gif);*/
}
div.link_categories a:hover, div.footer div.left a:hover {
	background: #D7162C;
	color: #FFF;
}
div.content a:hover {
    background: #FFF;
	color: #000;
}
#img_home {
    width: 45px;
    height: 45px;
}
#img_upload {
    width: 45px;
    height: 45px;
}
.main_left img{
    margin-bottom: 5px;
}
.main_left a{
    position:relative;
}
.div_invisible {
    position: absolute;
    width: 655px;
    height: 315px;
    z-index: 1;
    border-style:solid;
    border-width:5px;
    border-color: #F0F;
}
.div_invisible  iframe{
    z-index: 0;    
}

/* logo */
.header {
	background: #D91623 url(/images/cabecera_pelicula.jpg);
    background-size: cover;
	height: 243px;
    border-bottom: 6px solid #FFF;
}
.header h1 {
    position: absolute;
	margin: 180px 0 0 0;
	padding: 0px 503px 0 24px;
	font: normal 2.2em Verdana,sans-serif;
    background: rgba(255,255,255,0.6);
    color: #000;
}
.header h1 a {
    color: #000;
}

/* main navigation */
.link_menu {
	background: #CC2224 url(../images/grdnt_red.png) repeat-x;
}
.link_menu a {
	border-bottom: 1px solid #FFF;
	display: block;
	font: bold 0.9em Verdana,sans-serif;
	height: 18px;
	padding: 6px 0 0 10px;
	text-decoration: none;
}
.link_menu a:hover {background: #FFF;}

/* versions */
.lbl {
	background: #222 url(../images/bglbl.gif) repeat-x;
	clear: both;
	color: #FFF;
	font: normal 2em "Lucida Sans Unicode",sans-serif;
	height: 30px;
	line-height: 25px;
	overflow: hidden;
	text-align: center;
    margin-bottom: 6px;
    border-bottom: 0px solid #FFF;
}

.link_versions a {
	display: block;
	height: 48px;
	text-align: center;
	color: #FFF;
	padding-top: 5px;
	width: 124px;
    overflow: hidden;
	font-size: 0.7em;
	font-family: sans-serif;
    margin-bottom: 6px;
}
.link_versions a span {
	font: normal 5em sans-serif;
}
a.g1, a.g2 {
	background: #888;
}
a.g2 {
	margin-left: 6px;
}

/* categories */
.link_categories .lbl {
	height: 30px;
	line-height: 25px;
}
.link_categories a {
	clear: right;
	display: block;
	font: normal 1.2em "Trebuchet MS",sans-serif;
	height: 25px;
	padding: 5px 0;
	text-align: center;
    background: #666666;
}
.link_categories a span {
	float: left;
	font: normal 1.5em Verdana,sans-serif;
	letter-spacing: -2px;
	margin-left: 5px;
	margin-top: 3px;
}

/* content */ 
.content {
	color: #444;
	font-family: Verdana,sans-serif;
	line-height: 1.3em;
	padding: 0 10px 10px; 
}
.content a {
	/*color: #FD1C24;*/
    color: #ff0000;
}
.content2 {
    color: #3366ff;
}
/*PAGINADOR*/
.content .pagination {
 float: center;
 text-align: center;
 color: #FFF;
}
.content .pagination a {
 color: #ff0000;
 float: center;
 text-align: center;
}
.content .pagination img {
 border: none;
}
.content .pagination_desc {
 color: #FFF;
 float: center;
 text-align: center;
}
/*PAGINADOR*/
.content p {
	margin: 4px 0 10px 0;
}
.content .descr {
	color: #FFF;
	margin-bottom: 6px;
}
.descr2 {
	color: #33cc00;
}
.content li {
	list-style: url(../images/li.gif);
	margin-left: 18px;
}

/* footer */
.footer {
	color: #FFF;
	clear: both;
    height: 33px;
    background-color: #000;
}
.footer .right a {
	color: #FFF;
	padding: 1px 3px;
}
.footer .right a:hover {
	color: #999;
}
.footer .left a {
	color: #FFF;
}
.footer .left {
	border-top: 1px solid #F0F0F0;
	padding: 9px 0 9px 9px;
	width: 407px;
}
.footer .right {
	margin-right: 8px;
	padding: 9px 0;
	text-align: right;
	width: 220px;
}
